/* Estilos da barra lateral */
.sidebar {
  width: 240px;
  margin: 0;
  padding: 10px;
  background-color: #333;
  height: auto;
  overflow: auto;
}

/* Estilos para o conteúdo dentro da barra lateral */
.sidebar div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 30px;
}

/* Estilos para as imagens dentro da barra lateral */
.sidebar div img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Estilos para informações do usuário */
.user-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Estilos para botões dentro da barra lateral */
.user-info button {
  max-height: 30px;
  padding: 5px;
  border-radius: 4px;
}

/* Estilos para o link de logoff */
.sidebar .logoff a {
  width: 100%;
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-decoration: solid;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

/* Estilos para links na barra lateral */
.sidebar a {
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

/* Espaçamento entre o ícone e o texto dos links */
.sidebar a svg {
  margin-right: 0.5rem;
}

/* Efeito hover nos links */
.sidebar a:hover {
  background-color: #121212;
  color: #fff;
}

/* Media queries para telas menores */
@media screen and (max-width: 700px) {
  /* Ajuste de layout para a barra lateral */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px;
  }

  /* Ajuste de layout para logoff */
  .sidebar .logoff {
    display: flex;
    align-items: flex-end;
  }

  /* Oculta o conteúdo da barra lateral */
  .sidebar div {
    display: none;
  }

  /* Oculta os ícones dos links */
  .sidebar a span {
    display: none;
  }
}
.sidebar a svg{
  display: flex;
  
}
/* Media queries para telas ainda menores */
@media screen and (max-width: 400px) {
  /* Ajuste de layout para links */
  .sidebar a {
    text-align: center;
    float: none;
  }

  /* Oculta os ícones dos links */
  .sidebar a span {
    display: none;
  }
}

