
.sidebar {
  width: 20vw;
  margin: 0;
  padding: 10px;
  background-color: #121212;
  height: 100vh;
}


.sidebar div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.sidebar div img {
  width: 100%;
  margin: 20px;
  padding: 30px;
  height: auto;
  display: block;
  margin: auto;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.user-info button {
  max-height: 30px;
  padding: 5px;
  border-radius: 4px;
}

.sidebar .logoff a {
  position: relative;
  width: 100%;
  padding: 16px;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-decoration: solid;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

.sidebar a {
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar a svg {
  margin-right: 0.5rem;
}
.exit{
  position:fixed;
  bottom: 0;
}
.exit:hover{
background-color: rgba(255, 0, 0, 0.562)!important;
}
.sidebar a:hover {
  color: #fff;
  background-color:  #2c003e;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px;
  }
  
  .sidebar .logoff {
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    bottom: 10px;
  }

  .sidebar div {
    display: none;
  }

  .sidebar a span {
    display: none;
  }
}
.sidebar a svg{
  display: flex;
  
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar a span {
    display: none;
  }
}

